@page {
	margin: 20px 0;
	page-break-after: always;
}
header {
	padding: 0 15px;
	position: fixed; 
	top: 0px; 
	left: 0px; 
	right: 0px;
}
footer {
	padding: 5px  15px 0; 
	position: fixed; 
	bottom: 10px; 
	left: 0px; 
	right: 0px; 
}
footer p {
	color: #dd3333;
	font-size: 14px;
}
.pdf-body {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	top: 65px;
}
div.row {
	page-break-after: always;
}
h2.page-title {
	border-bottom: solid 2px #dd3333;
	color: #dd3333;
	margin-bottom: 15px;
	padding: 0 0 5px;
}
#custom-art thead:last-child {
	margin-top: 65px;
}
#custom-art thead th {
	text-align: center;
}
#custom-art tbody td {
	padding: 15px;
}