/*
Theme Name: Betheme Child
Theme URI: https://themes.muffingroup.com/betheme
Author: Muffin group
Author URI: https://muffingroup.com
Description: Child Theme for Betheme
Template: betheme
Version: 1.6.2
*/
body {
	font-family: Lato !important;
}
.cart-content-wrapper {
	margin-bottom: 15px;
}
.sidepanel hr {
	border: 1px solid #d6d6d6;
	margin-top: 43px;
}
.woocommerce form .form-row input.input-text.stak-custom-input, input.input-text.stak-custom-input {
	background-color: transparent;
	display: inline-block;
	margin-top: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #999999;
	width: 154px;
	background-color: #f5f5f5;
	height: 23px;
	padding: 10px;
	padding-left: 13px;
}
#apply_coupon {
	
}
p#wc-sub-total {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 0px;
}
a#curr-switch {
	color: #333!important;
	letter-spacing: 1px;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 7px;
	border-bottom: 1px solid red;
}
#curr-switch:hover {
	text-decoration: none;
}
.btn-stak {
	padding: 10px 30px;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 2px;
	background: #FFF!important;
	border-radius: 19px!important;
	text-transform: uppercase;
	width: 100%!important;
	text-decoration: none!important;
}
.btn-stak.black {
	color: #000!important;
	border: 2px solid #000;
}
.btn-stak.red {
	color: #840303!important;
	border: 2px solid #840303;
}
.btn-stak.red:hover {
	background-color: #840303!important;
}
button.button2, a.button2.stak {
	border: 2px solid #fff;
	color: #fff !important;
	letter-spacing: 2px;
	float: left;
	font-weight: bolder;
	padding: 5px;
	border-radius: 19px;
	padding-left: 27px;
	width: 237px;
	padding-right: 27px;
	font-size: 12px;
	margin: 10px 12%;
	text-align: center;
	position: relative;
}
a.button2.stak {
	margin-left: 0;
	margin-right: 0;
	float: none;
}
button#paymentinvoice {
	background-color: #262626 !important;
}
.modal-open .modal {
	top: 0px;
}
.stak-alert {
	background-color: #333;
	border-width: 2px!important;
	border-style: solid!important;
}
.stak-alert.alert-warning {
	background-color: #ffffff;
	border-color: #d48919!important;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 75px;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout.p0 {
	padding: 0!important;
    padding-bottom: 3rem!important;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout.p0 ul {
	margin: 0;
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout.p0 ul:before {
	display: none;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout.p0 ul li {
	color: #c31d1d!important;
}
.woocommerce-error {
	background-color: #ffffff!important;
	border: solid 2px #c31d1d!important;
}
.woocommerce-error .alert_wrapper {
	color: #292929!important;
}
.woocommerce-error .alert_icon {
	color: #c31d1d!important;
}
#curr-switch {
	cursor: pointer;
}
span.woocommerce-Price-currencySymbol {
	margin-right: 5px;
}
.btn-payment, #place_order.btn-woo-payment {
	border: 2px solid #7e7e7e7e!important;
	letter-spacing: 2px!important;
	float: left!important;
	font-weight: bolder;
	padding: 11px;
	border-radius: 8px!important;
	padding-left:24px!important;
	padding-right: 24px!important;
	font-size: 13px!important;
	margin-top: 10px!important;
	cursor: pointer;
}
.btn-payment.button2 {
	font-size: 11px!important;
	margin-top: 0px!important;
	margin-left: 0px;
}
a.reset-click {
	position: relative;
	top: 21px;
	left: 30px;
	color: #a0a0a0;
}
/*homepage adjustment*/
.button-stroke a.button.button_theme, .button-stroke a.button.button_theme:hover, .button-stroke a.button.button_js, .button-stroke a.button.button_js:hover {
	background-color: transparent!important;

	border: 0!important;
	box-shadow: none!important;
}
.button-stroke a.button.button_theme.no_border, .button-stroke a.button.button_theme.no_border:hover, .button-stroke a.button.button_js.no_border, .button-stroke a.button.button_js.no_border:hover {
	background-color: transparent!important;
	border: 0!important;
	box-shadow: none!important;
}

/*moved from form-shipping.php*/
#cart_review {
	background-color: #f5f5f5;
	padding-top: 5px;
	padding-bottom: 18px; 
	height: auto;
}
img.attachment-woocommerce_thumbnail{
	max-width:100%!important;
}
h3#order_review_heading {
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 25px;
}
.product-img {
	display: inline-block;
    float: left;
    padding-top: 10px;
    width: 20%;
}
.product-img img {
	width: 85%;
}
.product {
    width: 100%;
}
.woocommerce-table__product-name.product-name .product {
	display: inline-block;
    width: 60%;
    min-width: 400px;
    margin-top: 1.75rem;
}
.woocommerce-table__product-total.product-total, .order_details tfoot td {
	min-width: 115px;
}
.woocommerce-table__product-total.product-total span, .order_details tfoot td span {
	font-size: 14px;
    display: inline-flex;
    width: 100%;
    text-align: center;
}

/*customizer*/
html {
	height: 100%;
}
body.template-customizer {
	background-color: #333;
	padding: 1rem 0 0;
	height: 100%;
	/*min-height: 720px;*/
	/*max-height: 960px;*/
}
.mw-75 {
	max-width: 75px!important;
}
.controller {
	padding-top: 10px;
}
#preview {
    background-color: #333333;
}
#object .img-container, #preview .img-container {
	background-color: transparent;
	height: 100%;
	/*min-height: 620px;*/
	/*max-height: 480px;*/
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.cropper-modal {
	background-color: #333;
}
.cropper-bg {
	background-image: none;
	background-color: #333;
}
.main-controller label {
	display: inline-block;
	color: #fff;
	margin-bottom: 0;
	position: relative;
	top: 3.2px;
	width: 100%;
}
.main-controller .input-group-text, input.form-control.stak, select.form-control.stak {
	background-color: #333;
	border: 0;
	color: #fff;
	height: 25px;
}
select.form-control.stak {
	height: 32px;
	border: solid 1px #fff;
}
button.btn-primary.stak {
	background-color: #333;
	border: solid 1px #fff;
	border-radius: 18px;
	color: #fff;
	padding: 5px 20px;
	height: 32px;
}
input.form-control.stak {
	border-bottom: dotted 1px #fff;
}
a.form-custom.stak {
	color: #fff;
	padding: 1.6px 5px;
	height: 25px;
}
.template-customizer {
	padding: 0;
}
.template-customizer img {
	max-width: 100%;
	width: 100%;
	overflow: hidden;
}
.template-customizer canvas {
	max-width: 100%;
	max-height: 360px;
}
.img-container, .img-preview {
	background-color: #f7f7f7;
	text-align: center;
	width: 100%;
}
.img-preview {
	float: left;
	margin-bottom: .5rem;
	margin-right: .5rem;
	overflow: hidden;
}
#crop_set_holder, #size_set_holder, #preset_set_holder {
	position: relative;
	transform: opacity 0.6s ease-in-out;
}
#crop_set_holder.disabled, #size_set_holder.disabled, #preset_set_holder.disabled {
	opacity: .5;
}
#crop_set_holder::after, #size_set_holder::after, #preset_set_holder::after {
	content: "";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#crop_set_holder.disabled::after, #size_set_holder.disabled::after, #preset_set_holder.disabled::after {
	display: block;
}
.preview-lg {
	height: 9rem;
	width: 16rem;
}
.preview-md {
	height: 4.5rem;
	width: 8rem;
}
.preview-sm {
	height: 2.25rem;
	width: 4rem;
}
.preview-xs {
	height: 1.125rem;
	margin-right: 0;
	width: 2rem;
}
#bitnami-banner {
	display: none;
}
.bitnami-corner-image-div {
	display: none!important;
}
.alert-success.stak-alert {
	color: #fff!important;
	border: solid 2px #333;
	text-align: center;
}
.stak.docs-buttons .btn-group {
	background-color: #000;
	border-radius: 5px;
	margin: 10px auto;
	width: 8.5%;
	max-width: 180px;
	display: block;
	padding: 0 7.5px;
}
.stak.docs-buttons .btn-group .btn.btn-primary {
	background-color: transparent;
	border-color: transparent;
}
.stak.docs-buttons .btn-group .btn.btn-primary span.fa {
	font-size: 14px;
}
a.stak-full-width, a.stak-full-width:hover {
	color: #333;
	text-decoration: none;
}
a.stak-full-width img {
	height: 12px!important;
	width: 12px!important;
	display: inline-block!important;
	margin-left: 5px;
	margin-top: 0px;
}
.yith-wcwl-add-to-wishlist {
	margin-top: 5px;
	height: 100px;
}
.yith-wcwl-add-button img {
	bottom: 25px;
	float: right;
	position: absolute;
	right: 0;
}
a.add_to_wishlist.single_add_to_wishlist.addToWishlist, div.yith-wcwl-wishlistaddedbrowse a, a.addToWishlist {
	border: 0!important;
	color: #df0b13!important;
	float: right;
	font-size: 16px;
	margin-left: 10px;
	padding: 0!important;
}
a.add_to_wishlist.single_add_to_wishlist.addToWishlist:hover {
	background-color: transparent!important;
	color: #df0b13!important;
}
a.add_to_wishlist.single_add_to_wishlist.addToWishlist i {
	margin-right: 0;
	line-height: 1;
	top: -2px;
	position: relative;
}
.yith-wcwl-wishlistaddedbrowse.show, .yith-wcwl-wishlistexistsbrowse.show {
	display: inline-block!important;
	float: right;
	margin-left: 10px;
}
.yith-wcwl-wishlistexistsbrowse .feedback {
	color: #df0b13!important;
	cursor: pointer;
	font-size: 16px;
}
.yith-wcwl-wishlistexistsbrowse .stak-tooltip {
	display: none;
	position: absolute;
	width: 100%;
	max-width: 345px;
	right: 0px;
	padding: 10px;
	background-color: #292929;
}
.yith-wcwl-wishlistexistsbrowse .stak-tooltip:hover {
	display: block;
}
.stak-tooltip p, .stak-tooltip p a {
	color: #fff;
}
.stak-tooltip p a {
	text-decoration: underline;
}
a.text3.stack_custom_button {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	float: none;
	display: inline-block;
	border-bottom: 1px solid red;
	margin-left: 15px;
	margin-top: 1px;
	cursor: pointer;
}
a.text3.stack_custom_button:hover {
	text-decoration: none;
}
div#paragraph {
	padding-bottom: 50px;
	margin-bottom: 50px;
}
#total_amount {
	padding: 0;
}
.video-holder {
	display: block;
	height: 735px;
	padding: 0 0 0 0;
	position: relative;
	width: 100%;
	margin-top: -295px;
	margin-bottom: 0;
}
ul.wc-item-meta {
	margin-top: 15px;
}
.woocommerce .woocommerce-customer-details address {
	padding-left: 21.75%;
	width: auto;
}
a.added_to_cart.wc-forward {
	display: inline;
	margin-left: 10px;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
	width: 100%!important;
}
.new-variations-block .label-holder {
	border-left: solid 1.5px #7e7e7edb;
	line-height: 0.5;
	padding-left: 5px!important;
	padding-right: 2.5px!important;
}
.new-variations-block .label-holder:nth-child(2) {
	border-left: none;
	padding-left: 0!important;
}
.new-variations-block .label-holder:last-child {
	display: none;
}
p#price_output {
	color: #fff;
	font-size: 14px;
	line-height: 2;
}
.pull-none {
	float: none!important;
}
.pull-left {
	float: left!important;
}
.pull-right {
	float: right!important;
}
.text7.change_currency_switch {
	position: relative;
	top: -4px;
}

/*bug fixes*/
.woocommerce table.swz_wc.shop_table tbody td {
	padding-left: 5px!important;
	padding-right: 5px!important;
}
.woocommerce .blockUI.blockOverlay {
	position: fixed!important;
}
#billing_state_field span.optional {
	display: none!important;
}

/*from product-customizer.php*/
button.customized_homepage_button, a.customized_homepage_button {
	padding: 10px 30px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    color: #000!important;
    border-radius: 19px;
    background-color: #fff;
    border: 2px solid #000;
    text-transform: uppercase;
    transition: background-color.5s ease-in-out, color .5s ease-in-out, border-color .5s ease-in-out;
}
button.customized_homepage_button:hover, a.customized_homepage_button:hover {
	background-color: #000;
	border-color: #fff!important;
	color: #fff!important;
}
.line9 {
	font-size: 19px;
	float: left;
	margin-left: 0;
	font-weight: bold;
	margin-top: 7px;
}
.line9-1 {
	font-size: 26px;
	color: #ef1414;
}
div.quantity, .product_meta{
	display:none!important;
}
td.product-quantity div.quantity {
	display: block!important;
}
#addNewCartVal{
	-webkit-appearance: caret;
	border-radius: 8px;
	height: 38px;
	width: 15%;
	padding-left: 10px;
	float: left;
	margin-top: 10px;
}
button.button1,.button1 {
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #7b7b7b;
	text-align: center;
	height: 44px;
	border-radius: 8px;
	padding-top: 11px;
	font-size: 16px;
	font-weight: bold;
	color: #7b7b7b;
	margin-top: 13px;
	width: 47%;
	text-decoration:none!important;
}
a.button1:hover {
	background: #000;
	color: #fff;
}
button.button1{
	color: #7b7b7b !important;
	margin-left: 0;
	margin-top: 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a:after{
	background:#000;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a,.ui-tabs .ui-tabs-nav li a{
	color:#7b7b7b;
	text-transform: uppercase;
}
.woocommerce .product div.entry-summary .ui-tabs .ui-tabs-nav li a {
	padding-bottom: 6px!important;
}
#opt_product_frame_outer {
	margin: 15px 0 0;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 5px;
}
#opt_product_frame_outer label.frame-selector {
	background-color: #999;
	margin-right: 15px;
	width: 25px;
	height: 25px;
}
#opt_product_frame_outer label.frame-selector:last-child {
	margin-right: 0;
}
/*#opt_product_frame_outer label.frame-selector.active {
	border: solid 3px #e6363d;
}
.cursor-pointer {
	cursor: pointer;
}
#opt_product_frame_outer label.frame-1 {
	background: url("<?php echo get_stylesheet_directory_uri(); ?>/img/frame1.jpg");
}
#opt_product_frame_outer label.frame-2 {
	background: url("<?php echo get_stylesheet_directory_uri(); ?>/img/frame2.jpg");
}*/
.woocommerce-variation.single_variation {
	display: none!important;
}
.new_woocommerce_price_wrapper {
	margin-bottom: 15px;
	padding-left: 0!important;
}
.new-variations-block {
	padding-left: 0;
	padding-right: 0;
	margin-top: 12px;
}
.pl-0 {
	padding-left: 0;
}
#purchase {
	padding-left: 0;
	padding-right: 0;
}
#purchase p {
	margin: 0;
}
.woocommerce .product div.entry-summary .ui-tabs .ui-tabs-nav li a {
	padding: 14px 17px!important;
}
p.price span.small {
	font-size: 16px;
	margin-right: 15px;
	position: relative;
	top: -2px;
}

.frame-label-wrapper > span {
	display: -webkit-box;
	width: 100%;
}

.frame-label-wrapper > span > span {
	vertical-align:super;
}

.frame-label-wrapper > span > label {
	margin-bottom: 0;
	padding-bottom: 5px;
}
#new_price .woocommerce-variation-price{
	float:left;
}
#new_price .woocommerce-variation-availability{
	float:left;
	margin-top:2%;
	margin-left:1%;
}
.fancybox-slide--iframe {
	padding: 30px 30px 0;
}
.fancybox-container {
	/*top: 30px;*/
}
.fancybox-slide--iframe .fancybox-content, .fancybox-iframe, .fancybox-video {
	background: #333!important;
}
.fancybox-toolbar {
	opacity: 1!important;
	visibility: visible!important;
}
	
button.fancybox-button.fancybox-button--close {
    border-color: #eee!important;
    color: #eee !important;
}
.woocommerce-view-order button.fancybox-button.fancybox-button--close, .woocommerce-cart button.fancybox-button.fancybox-button--close {
    border-color: #000!important;
    color: #000 !important;
}
.blinking{
	animation: blinkingText 0.8s infinite;
	text-align: left;
}
@keyframes blinkingText{
	0%{     color: #000;    }
	50%{    color: transparent; }
	100%{   color: #000;    }
}
p.mid-split {
	margin: 15px 0!important;
}
.new-variations-block {
	padding-left: 0!important;
	padding-right: 0!important;
}
.left-start {
	max-width: 175px!important;
}
.right-end {
	max-width: 240px!important;
}
.on-progress {
	background-color: rgba(0,0,0,.87);
	display: none;
	padding: 25% 0;
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 101%;
}

/*moved from form-checkout.php*/
.progressbar-swz-wc {
  counter-reset: step;
}
.progressbar-swz-wc li {
  list-style: none;
  display: inline-block;
  width: 17.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #5a5a5a;
  font-size:12px;
  font-weight:700;
}
.progressbar-swz-wc li:before {
  content: "";  
  width: 7px;
  height: 7px;
  line-height : 30px;
  border: none;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 12px auto 5px auto;
  background-color: #5a5a5a;
}
.progressbar-swz-wc li.active:before {
	background-color: #DF0B13;
}
.progressbar-swz-wc li:after {
  content: "";
  position: absolute;
  width: 98%;
  height: 1px;
  background-color: #000;
  top: 15px;
  left: -50%;
  z-index : 1;
}
.progressbar-swz-wc li:first-child:after {
  content: none;
}
.progressbar-swz-wc li.active {
  color: #5a5a5a;
}
.progressbar-swz-wc li.active:before {
  border-color: #5a5a5a;
} 
.progressbar-swz-wc li.active + li:after {
  background-color: #000;
}
.progressBarContainer{
	width: 100%;    
	padding-top: 2%;    
	margin-left: 0.5%;
	float:left;
	margin-bottom:4%;
}
.progressbar-swz-wc{
	float:left;
	margin:0;
	width:100%;
	
}
.extra-spacing-block{
	display:none;
	color:#FFF;
	font-size:12px;
}
.woocommerce-info {
	background-color: #ffffff;
	border: 2px solid #7e7e7e7e!important;
}
.woocommerce-info .alert_icon {
	border-right: none!important;
}
.woocommerce-info.alert_info, .alert.alert_info a.close i {
	color: #333333!important;
}
.woocommerce-terms-and-conditions-checkbox-text {
	margin-left: 1.25rem;
}

table.woocommerce-checkout-review-order-table {
	/*display: none;*/
}

.select-wrapper:after {
	top: -5px!important
}

.quick-view-mobile-img {
	display: none;
}

a.added_to_cart.wc-forward {
    margin-left: 5px;
    color: #ef1414;
    display: block;
}
input#terms {
	margin: 0;
    position: relative;
    top: -2px;
}

/* from content-single-product.php */
.sections_group{
	padding-top: 80px !important;
}
.woocommerce .product div.entry-summary h1.product_title{
	padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
}
.woocommerce .product div.entry-summary h1.product_title:after{
	display:none;
}
div.entry-summary p.price{
	font-size: 26px!important;
    font-weight: bold;
    margin-bottom: 10px!important;
}
.woocommerce-product-details__short-description{
	font-size:15px;
}
.woocommerce .ui-tabs {
    position: relative;
    display: inline-block;
    width:100%;
}
.summary .jq-tabs.tabs_wrapper.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    display: none;
}
.ui-tabs-panel {
    width: 100%;
}

.ui-tabs-nav li {width: 49.7%;display: inline-block;float: left;}

.ui-tabs a:focus {
    outline:none!important;
}
.woocommerce-Price-amount{
    font-size: 16px;
    margin-right: 15px;
    position: relative;
    /*top: -2px;*/
}

/*moved from single-product/variable.php*/
.selectCrop{	
	cursor:pointer;
	 color: #7e7e7e;
}
.setCropSize:checked+label {
  color: #ef1414;
}

#Subheader{
	display:none;
}
.line7
{
	width:100%;
	text-align:center;
	margin-bottom:0px;
	font-weight:bold;
	float:left;
	font-size: 14px;
	
}
.line8 {   
    font-size: 12px;
    font-weight: bold;
}
.line6
{
	font-size:22px;
	color:#7e7e7e;

}
.variations-block {
	display: none;
}
.variations-block .separator-col:last-child {
    display: none;
}
.variations-block .separator-col:nth-child(3n+3) {
    display: none;
}
.variations-block {
	display: block;
}
.label-holder {
	display: inline-block;
}

/*custom alert*/
.error-msg {
	position: relative;
    right: 0;
    top: 35px;
    width: 315px;
    display: none;
}
.error-msg .alert {
	background-color: transparent;
    color: #262626;
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 12px;
    font-weight: 800;
    width: 65%;
    position: relative;
    top: -5px;
    left: -10px;
    text-align: center;
    text-transform: uppercase;
}
.error-msg .alert.alert-danger {
	border: solid 5px #e0121a;
}
.error-msg .alert::after {
	content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 4px;
    left: -15px;
}
.error-msg .alert.alert-danger::after {
    border-right: 15px solid #e0121a;
}

/* from apperance customiser */
.elementor-section.elementor-section-boxed>.elementor-container{
	max-width: 400px;
}

.ur-frontend-form{
	border-style: hidden;
}

.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item{
	font-size: 20px;
}

.ur-frontend-form .ur-button-container .ur-submit-button{
	border: ridge;
	margin-left: 0px;
	font-size: 20px;
	padding: 10px 80px;
}

#addNewCartVal{
display:none;}

.fancy_heading{
	text-align:left;
	
}

#tab-title-description{
	display:none;
}

#tab-title-additional_information{
	display:none;
}

.mcb-section-qsjdojufn .mcb-section-inner {
	max-width: 100%;
}

#mfn-layer-slider {
	padding-left:11%;
}
#addNewCartVal{
	display:none;
}

#Subheader{
	padding: 120px 0 90px;
}

/* from /wp-admin/admin.php?page=be-options */
#bitnami-banner {display:none;}
.column_button .button span.button_label {
    padding: 7px 30px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    background: #acbddb;
    color: black;
    border-radius: 19px;
}
.content_slider.carousel .content_slider_ul li .title {
    opacity: 0.7;
    line-height: 120%;
    line-height: initial;
}
.woocommerce div.product .stock {
    color: #ef1414;
}
#addNewCartVal {
    display: none!important;
}

/*wishlist override*/
td.product-add-to-cart .button {
	display: inline-block!important;
}
td.product-add-to-cart .remove_from_wishlist.button {
	border: 0!important;
    padding: 0 5px!important;
    color: #df0b13!important;
    font-size: 16px;
    margin-left: 2rem!important;
}
td.product-add-to-cart .remove_from_wishlist.button:hover {
	background-color: transparent!important;
	color: #df0b13!important;
}

/*user registration form*/
.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item {
    margin-bottom: 5px;
}
.ur-frontend-form, .ur-frontend-form .ur-form-row .ur-form-grid {
	padding: 0px!important;
}
.ur-frontend-form .ur-form-row .ur-form-grid label.ur-label, .ur-frontend-form .ur-form-row .ur-form-grid legend.ur-label {
	font-size: 13px;
    margin-bottom: 5px;
    margin-top: 0px;
    line-height: 2;
}
.ur-frontend-form .ur-form-row .ur-form-grid input[type=date], .ur-frontend-form .ur-form-row .ur-form-grid input[type=email], .ur-frontend-form .ur-form-row .ur-form-grid input[type=number], .ur-frontend-form .ur-form-row .ur-form-grid input[type=password], .ur-frontend-form .ur-form-row .ur-form-grid input[type=phone], .ur-frontend-form .ur-form-row .ur-form-grid input[type=text], .ur-frontend-form .ur-form-row .ur-form-grid input[type=timepicker], .ur-frontend-form .ur-form-row .ur-form-grid input[type=url], .ur-frontend-form .ur-form-row .ur-form-grid select, .ur-frontend-form .ur-form-row .ur-form-grid textarea {
	min-height: unset;
    margin-bottom: 0px;
    line-height: 1;
}
.ur-frontend-form .description {
	line-height: 1.75;
    margin-top: 15px;
}
.ur-frontend-form .ur-button-container .ur-submit-button {
	font-size: 14px;
    font-style: normal;
}
.woocommerce-form-login-toggle {
	display: none;
}
.modal-body .ur-frontend-form, .modal-body.ur-frontend-form .ur-form-row .ur-form-grid {
	margin-bottom: 7.5px;
}
.modal-body h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.modal-body .ur-frontend-form form.register {
	margin-top: 15px;
    margin-bottom: 0px;
    padding: 15px;
}

.woocommerce img, .woocommerce-page img{
	margin-top: 20px;
}

/*moved from wp-custmize*/


.logo{
	height: 60px!important;
}

.mhb-view.desktop .first-row .mhb-image img{
	height: 60px !important;
}

#billing_wooccm11_field{
	width: 35%;
}

#billing_phone_field{
	margin-top: 35px!important;
	width: 62.5%!important;
}

.mhb-view.desktop .first-row{
margin-top: 10px!important;
}

.mhb-view.desktop.sticky{
	height: 130px!important;
}

.section{
	margin-top: 50px!important;
}

.facebook{
	width: 30px;
	height: 30px;
	float: left;
}

.instagram{
	width: 30px;
	height: 30px;
	float:left;
	margin-left:3px;
}

.pinterest{
	width: 30px;
	height: 30px;
	float:left;
	margin-left:3px;
}

.linkedin{
	width: 30px;
	height: 30px;
	float: left;
	margin-left:3px;
}

.youtube{
	width: 30px;
	height: 30px;
	float: left;
	margin-left:3px;
}
/*moved wp-custmize*/

span.desc_hint {
	font-size: 12px;
	font-style: italic;
}
#login-result, #register-result {
	display: none;
	position: relative;
	width: 100%;
	margin: 0;
}
#msg.message {
	border: solid 2px #333;
	background-color: #333;
    color: #fff;
    text-shadow: 2px 2px 1px #0e0e0e;
	padding: 25px;
}
#msg.message.error {
	border-color: red;
}
#msg.message.success {
	border-color: green;
}
.login_loader, .login_msg {
	position: relative;
    width: 100%;
    margin-top: 20px!important;
}

#first .field-holder {
	border-right: solid 1px #fff;
}
#first .field-holder:last-child {
	border-right: 0;
}
#first .field-holder:first-child {
	margin-left: 2.65rem!important;
}
.field-holder .form-group {
	margin-bottom: 0px!important;
}
.field-holder a.form-custom.stak {
	line-height: 2;
}
#second a.form-custom.stak, #second button.btn-primary.stak {
	margin-left: 0;
	margin-right: 1rem;
}
.mx-half {
	margin-left: 0.125rem!important;
	margin-right: 0.125rem!important;
}

/*fixed irfan bugs*/
.container-fluid:before, .container:before {
	display: none!important;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
	font-weight: bold;
}
.button-stroke.woocommerce-page a.button.button_theme {
	border: 0!important;
}
input[type=checkbox], input[type=radio] {
	margin: 0;
    line-height: normal;
    margin-right: .7rem;
    position: relative;
    top: 2px;
}
body.single-product #Content, body.woocommerce-checkout #Content, body.page.page-id-64 #Content, body.page.page-id-13 #Content, body.woocommerce-account.woocommerce-page #Content {
	padding-top: 80px!important;
}
.woocommerce-MyAccount-navigation ul li a {
	font-size: 13.5px;
}
h3.title {
	font-size: 24px!important;
}
.mhb-view.full_width .mhb-row-wrapper.container {
	max-width: 1140px!important;
}
.woocommerce-account .woocommerce-info {
	display: none!important;
}

@media only screen and (max-width: 1280px){
	.stak.docs-buttons .btn-group {
		width: 12%;
	    padding: 0rem 1rem;
	}
}

@media only screen and (max-width: 1024px){
	body.single #Content, body.page #Content {
	    padding-top: 100px!important;
	}
	.stak.docs-buttons .btn-group {
		width: 12%;
		padding: 0rem .75rem;
	}
	#crop_set_holder {
		margin-left: 0;
	}
	button.customized_homepage_button, a.customized_homepage_button {
		padding: 10px 20px;
	}
	.main-controller label {
		text-align: left;
	}
	#first .field-holder {
		margin-bottom: 1rem;
	}
	#first div.field-holder:nth-child(2) {
		border-right: 0px!important;
	}
	#first .field-holder:first-child {
		margin-left: 0!important;
	}
	.error-msg {
	    right: -15px;
	    top: 35px;
	}
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
	.woocommerce div.product div.summary {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.stak.docs-buttons .btn-group {
		width: 16%;
		padding: 0rem .75rem;
	}
	#crop_set_holder {
		margin-left: 0;
	}
	#Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
		padding-top: 0!important;
	}
	.one-second.column {
		width: 100%;
	}
	.if-border-hide .image_frame:not(.has_border) {
		padding-top: 12.5px;
	}
	.cropper-point {
		width: 12.5px;
		height: 12.5px;
	}
	.cropper-point.point-se {
	    height: 17.5px;
	    width: 17.5px;
	}
	.wrap.mcb-wrap.mcb-wrap-igtqsaj6x.one-second.valign-top.bg-cover.clearfix {
	    padding: 0 33px;
	}
	#Top_bar .menu > li > a, #Top_bar #menu ul li.submenu .menu-toggle {
	    color: rgba(0, 0, 0, 0.7);
	}
	#first .field-holder {
		margin-bottom: 1rem;
	}
	#first div.field-holder:nth-child(2) {
		border-right: 0px!important;
	}
	#first .field-holder:first-child {
		margin-left: 0!important;
	}
	.error-msg {
		right: 80px;
	    top: 35px;
	}
}

@media only screen and (min-width: 767px) {
	.column.mcb-column.mcb-item-0cjstfm4b.one.column_fancy_heading.fancy-verti {
	    position: absolute;
	    left: 57%;
	    transform: rotate(90deg);
	    top: 175px;
	    text-transform: uppercase;
	}

	.column.mcb-column.mcb-item-0cjstfm4b.one.column_fancy_heading.fancy-verti .fancy_heading .title {
	    font-size: 18px;
	    letter-spacing: 2px;
	    color: gray;
	    text-align: left;
	}
	div#purchase button, div#purchase a {
		text-align: center;
	}
	.cropper-point {
		width: 12.5px;
		height: 12.5px;
	}
	.cropper-point.point-se {
	    height: 17.5px;
	    width: 17.5px;
	}
	.modal-dialog {
		margin-top: 15px!important;
		margin-bottom: 15px!important;
	}
}

@media only screen and (max-width: 480px){
	body.single #Content, body.page #Content {
	    padding-top: 0px!important;
	}
	#shipping-btn {
		max-width: 100%;
		overflow-wrap: break-word;
		word-break: break-word;
		white-space: inherit;
	}
	ul.progressbar-swz-wc {
		margin: 0;
		width: 100%;
		height: 60px;
	}
	ul.progressbar-swz-wc li span {
		font-size: 8px;
		position: absolute;
		left: 0px;
		right: 0;
	}
	#coupon_code {
		width: 105px;
	}
	#apply_coupon {
		margin-right: 20px!important;
		font-size: 14px;
	}
	p#wc-sub-total{
		margin-right: 15px;
	}
	a#curr-switch {
		margin-right: 0!important;
		margin-left: 5px;
	}
	button.button2 {
		margin-right: 0;
		margin-left: 0;
	}
	.modal-open .modal {
		top: 75px;
	}
	.frame-selector-wrapper label, .frame-selector-wrapper span, .form-group label {
		font-size: 10px;
	}
	.form-group .checkbox label {
		font-size: 14px;
	}
	.section_wrapper{
		max-width: 480px!important;
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.isotope_wrapper{
		padding-left: 0px!important;
		padding-right: 0px;
		width: 92.5%;
	}
	.select-wrapper {
		width: 90%!important;
	}
	.select-wrapper:after {
		right: 30px!important;
		font-size: 18px!important;
		top: -5px!important;
	}
	.woocommerce table.swz_wc.shop_table tbody td {
		border: 0;
	}
	.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
		width: 100%;
		text-align: left;
		display: block;
	}
	.woocommerce div.product {
		text-align: left;
		width: 100%;
		margin: 0 0 15px;
	}
	.woocommerce-cart table.shop_table_responsive tr td {
		text-align: left!important;
		display: grid;
		width: 100%!important;
	}
	.woocommerce table.cart td.product-quantity div.quantity {
		display: block!important;
		padding: 5px 0 5px 0;
		position: relative;
		float: left;
	}
	.woocommerce table.cart td.product-remove {
		width: auto;
		display: inline;
	}
	.woocommerce table.cart td.product-subtotal {
		margin-top: 1rem;
	}
	.woocommerce table.cart .product-thumbnail {
		display: block
	}
	.woocommerce table.shop_table_responsive tr.woocommerce-cart-form__cart-item, .woocommerce-page table.shop_table_responsive tr.woocommerce-cart-form__cart-item {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: solid 1px #333;
	}
	.woocommerce table.shop_table_responsive tr.woocommerce-footer-table td::before {
		content: "";
	}
	.woocommerce .shop_table .product-thumbnail a img {
		width: 60%;
		height: auto;
	}
	.stak.docs-buttons .btn-group {
		width: 6.75rem;
	}
	.left-start, .mw-75, .right-end {
		max-width: none!important;
	}
	.main-controller label {
		font-size: 14px;
	}
	.controller hr {
		border-top: solid 1px #fff;
		width: 100%;
		position: relative;
	}
	.controller .form-group {
		margin-top: 1rem;
	}
	button.btn.stak, a.stak {
		margin: 0 0 10px;
	}
	a.button2.stak {
		float: left;
		width: 100%;
	}
	.woocommerce-checkout button.button1 {
		width: 100%!important;
	}

	.woocommerce-checkout .checkbox input[type=checkbox]{
		position: relative!important;
		margin-left: 0!important;
	}
	h3#ship-to-different-address label {
		padding-left: 20px;
		text-indent: -20px;
	}
	.px-xs-0 {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.woocommerce .shop_table .product-name {
		width: 60%;
	}
	.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
		line-height: 1;
		padding-left: 25px!important;
		text-indent: -25px!important;
		float: left;
	}
	.woocommerce-terms-and-conditions-checkbox-text {
		margin-left: 0;
	}
	input#terms {
		margin: 0 8px 0 0;
	}
	.fancybox-stage.quick-view {
		display: none!important;
	}
	.fancybox-form-wrap {
		width: 100%!important;
	}
	.quick-view-mobile-img {
		display: block;
	}
	.cropper-point {
		width: 12.5px;
		height: 12.5px;
	}
	.cropper-point.point-se {
	    height: 17.5px;
	    width: 17.5px;
	}
	.form-row {
		padding-bottom: 3rem;
	}
	.woocommerce .shop_table .product-name {
	    width: 100%;
	}
	.wishlist_table.images_grid li .item-details h3, .wishlist_table.mobile li .item-details h3, .wishlist_table.modern_grid li .item-details h3 {
		font-size: 16px;
	}
	.wishlist_table.images_grid li .item-details table.item-details-table td.label, .wishlist_table.mobile li .item-details table.item-details-table td.label, .wishlist_table.mobile li table.additional-info td.label, .wishlist_table.modern_grid li .item-details table.item-details-table td.label {
	    text-align: left;
	    font-weight: 700;
	    font-size: 14px;
	    width: 30%;
	}
	.wishlist_table.mobile li .item-details table.item-details-table td.value span.woocs_price_code {
		width: 100%!important;
	    font-size: 8px!important;
	    display: inline-block;
	}
	.wishlist_table.mobile li .item-details table.item-details-table td.value span.woocs_price_code .woocommerce-Price-amount {
	    font-size: 12px;
	    font-weight: 700;
	    margin-right: 15px;
	    position: relative;
	    top: 0;
	}
	.product-img {
		width: 50%;
	}
	.product {
		width: 100%;
		min-width: unset;
	}
	.woocommerce-table__product-total.product-total, .order_details tfoot td {
		min-width: 105px;
	}
	.woocommerce-table__product-total.product-total span, .order_details tfoot td span {
		font-size: 12px;
		margin-right: 0;
	}
	.woocommerce table.shop_table td small {
		display: block;
		width: 100%;
		text-align: center;
	}
	#first .field-holder {
		border-right: 0px!important;
		border-bottom: solid 1px #fff;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	#first .field-holder:last-child {
		border-bottom: 0px;
	}
	#second a.form-custom.stak, #second button.btn-primary.stak {
		margin-right: 0.65rem;
	}
	.error-msg {
	    position: absolute;
	    right: -80px;
	    top: -62.5px;
	}
	.error-msg .alert.alert-danger::after {
	    border-right: 10px solid transparent;
	    border-left: 10px solid transparent;
	    border-top: 15px solid #e0121a;
	}
	.error-msg .alert::after {
		border-top: 0;
		border-bottom: 0;
	    top: 27px;
        left: 80px;
	}
	.mhb-view.on-top, .is-sticky .mhb-view {
		position: relative;
	}
	.mhb-view.mobile .first-row .mhb-row-wrapper {
	    min-height: auto!important;
	    padding: 0.45rem 0;
	}
	.mhb-view.mobile .first-row .mhb-row-wrapper {
		padding-left: 1.15rem!important;
	    padding-right: 1.15rem!important;
	}
	.mhb-view.mobile.default.full_width.on-top .mhb-item {
		margin: 0 5px;
	}
	img.logo {
	    height: auto!important;
	    max-width: 100%;
	    width: 50px;
	}
	.sections_group{
		padding: 1rem 0 !important;
	}
}

@media screen and (max-width: 723px) and (min-width: 300px) 
{
	.extra-spacing-block{
		display:block;
	}
}
@media screen and (max-width: 475px) and (min-width: 300px) 
{
	.extra-spacing-block{
		font-size:10px;
	}
	.fancybox-is-open .fancybox-bg {
		background: #333333;
		opacity: 1
	}
	.fancybox-stage, .fancybox-slide--iframe {
		background: #333333;
		padding: 15px 15px 0!important;
	}
}

.sections_group{
	padding-top: 30px !important;
}

.section{
	margin-top: 30px !important;
}

.the_content_wrapper{
	/*display: none !important;*/
}